/* Your rules to style the menu in mobile view (collapsible mode) here... */
.sm-custom {
  background: #ea4b4b;
  z-index: 7;
}

.sm-custom ul {
  background: #FD6D6D;
}

.sm-custom ul ul {
  margin-left: 15px;
}

.sm-custom a {
  font-size: 14px;
  text-decoration: none;
  color: #FFFFFF;
  padding: 12px;
  line-height: 1.15;
}

.sm-custom > li > a {
  text-transform: uppercase;
}

.sm-custom ul a {
  padding: 8px;
}

.sm-custom .has-submenu {
  padding-right: 22px;
}

.sm-custom .sub-arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -2px;
  border: 4px solid transparent;
  border-top-color: #FFFFFF;
}

.main-menu-btn {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 28px;
  text-indent: 28px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
/* hamburger icon */
.main-menu-btn-icon, .main-menu-btn-icon:before, .main-menu-btn-icon:after {
  position: absolute;
  top: 50%;
  left: 2px;
  height: 2px;
  width: 24px;
  background: #bbb;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.main-menu-btn-icon:before {
  content: '';
  top: -7px;
  left: 0;
}
.main-menu-btn-icon:after {
  content: '';
  top: 7px;
  left: 0;
}
/* x icon */
#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon {
  height: 0;
  background: transparent;
}
#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:before {
  top: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:after {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* hide menu state checkbox (keep it visible to screen readers) */
#main-menu-state {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(1px,1px,1px,1px);
}
/* hide the menu in mobile view */
#main-menu-state:not(:checked) ~ #main-menu {
  display: none;
}
#main-menu-state:checked ~ #main-menu {
  display: block;
}

@media (min-width: 601px) {

/* Switch to desktop layout
-----------------------------------------------
  These transform the menu tree from
  collapsible to desktop (navbar + dropdowns)
  -----------------------------------------------*/
  /* start... (it's not recommended editing these rules) */
  .sm-custom ul{position:absolute;width:12em;}
  .sm-custom li{float:left;}
  .sm-custom.sm-rtl li{float:right;}
  .sm-custom ul li,.sm-custom.sm-rtl ul li,.sm-custom.sm-vertical li{float:none;}
  .sm-custom a{white-space:nowrap;}
  .sm-custom ul a,.sm-custom.sm-vertical a{white-space:normal;}
  .sm-custom .sm-nowrap > li > a,.sm-custom .sm-nowrap > li > :not(ul) a{white-space:nowrap;}
  /* ...end */


  /* Your rules to style the menu in desktop view here... */
  .sm-custom {
    position: static;
    background: linear-gradient(#c60707, #FF7070);
  }

  .sm-custom ul {
    border: 1px solid #e64242;
  }

  .sm-custom ul .sub-arrow {
    border-top-color: transparent;
    border-left-color: #FFFFFF;
    margin-top: -4px;
    right: 6px;
  }

  .sm-custom li:hover {
    background: #A70000;
  }

  /* button to scroll the submenu if it doesn't fit on the screen */
  .sm-custom .scroll-up,
  .sm-custom .scroll-down {
    position: absolute;
    display: none;
    visibility: hidden;
    overflow: hidden;
    background: #fff;
    height: 20px;
  }

  .sm-custom .scroll-up-arrow,
  .sm-custom .scroll-down-arrow {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -6px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 6px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #555555 transparent;
  }

  .sm-custom .scroll-down-arrow {
    top: 8px;
    border-style: solid dashed dashed dashed;
    border-color: #555555 transparent transparent transparent;
  }

  /* hide the button in desktop view */
  .main-menu-btn {
    position: absolute;
    top: -99999px;
  }
  /* always show the menu in desktop view */
  #main-menu-state:not(:checked) ~ #main-menu {
    display: block;
  }
}