body {
    background: url(../img/background-body.svg) fixed;
    font-family: Segoe UI;
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
}

.btn {
    width: 180px;
    background: linear-gradient( #C20000, #FF7070);
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 0;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background: #A70000;
}

.wrapper {
    background-color: #FFFFFF;
    width: 925px;
    margin: 0 auto;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

/*========HEADER========*/

#main-header {
    position: relative;
    height: 211px;
    background: url(../img/top-left-corner-header.svg) top left no-repeat, url(../img/bottom-right-coner-header.svg) bottom right no-repeat, url(../img/background-header-cars.png) top 15px right 29px no-repeat, url(../img/background-header.svg), #F6F6F6;
}

#main-header .main-logo {
    position: absolute;
    top: 40px;
    left: 37px;
}

#main-header .cont-inf {
    position: absolute;
    text-align: center;
    background: linear-gradient(#C20000, #FF7070);
    border-radius: 0px 0px 25px 25px;
    top: 0;
    right: 38px;
    padding: 10px 20px;
}

#main-header .cont-inf a {
    color: #F8F8F8;
    font-size: 16px;
    font-style: normal;
    line-height: 18px;
    text-decoration: none;
}

#main-header .banner {
    position: absolute;
    top: 184px;
    right: 231px;
}

/*========END HEADER========*/

/*========NAVIGATION========
    see the main-navigation.css file
========END NAVIGATION========*/

/*========MAIN CONTENT========*/

#main-content {
    background: url(../img/car-signs.png) top 26px left 75px no-repeat, url(../img/background-content-cars.png) top right 29px no-repeat, url(../img/background-diagonal-line-content.svg) top 136px center no-repeat;
}

#main-content .content {
    padding: 26px 68px;
    font-size: 14px;
    line-height: 19px;
    color: #505050;
}

#index #main-content .content .page-title-header {
    display: none;
}

#main-content .content .page-title-header {
    color: #B10505;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 28px;
    margin-left: 166px;
    margin-bottom: 42px;
    text-align: center;
	line-height: normal;
	text-decoration: underline;
}

#main-content .content .homepage-header {
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 0 196px;
    border: 1px solid #B4B4B4;
    padding: 16px 25px;
    color: #070707;
    transform: none;
    text-transform: none;
    background: none;
    text-align: left;
}

#main-content .content h2 {
    background: #E6E6E6;
    text-align: center;
    color: #B10505;
    text-transform: uppercase;
    padding: 20px 100px;
    transform: skew(45deg, 0);
    margin: 40px 0 30px;
    font-size: 18px;
}

#main-content .content h2 span {
    transform: skew(-45deg, 0);
    display: inline-block;
    position: relative;
}

#main-content .content h2 span:before,
#main-content .content h2 span:after {
    content: url(../img/sign-keys.png); 
    top: 50%;
    margin-top: -46px;
    position: absolute;
}

#main-content .content h2 span:before {
    left: -120px;
}

#main-content .content h2 span:after {
    right: -120px;
}

#main-content .content .arrow-down {
    display: block;
    margin: 13px auto;
}

#main-content .content .big-brace {
    display: block;
    margin: 0 auto 24px;
}

#main-content .content .category-box-container {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#main-content .content .category-box-container:after {
    content: "";
    width: 227px;
    display: block;
}

#main-content .content .category-box-container li {
    width: 242px;
    height: 322px;
    position: relative;
    border: 1px solid #B4B4B4;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 50px;
    background-color: #FFFFFF;
}

#main-content .content .category-box-container .category-tittle {
    height: 60px;
    line-height: 56px;
    background: #F6F6F6;
    margin: 0;
    text-transform: uppercase;
    font-size: 42px;
    color: #C00000;
    border-radius: 5px 5px 0 0;
}

#main-content .content .category-box-container p {
    margin: 12px;
}

#main-content .content .category-box-container > li > img {
    display: block;
    position: absolute;
    bottom: 72px;
    left: 50%;
    margin-left: -88px;
}

#main-content .content .category-box-container > li > .steering-wheel {
    margin-left: -42px;
    border-radius: 10px;
}

#main-content .content .category-box-container .btn {
    position: absolute;
    left: 50%;
    bottom: 18px;
    margin-left: -90px;
}

#main-content .content .retraining li {
    height: auto;
}

#main-content .content .retraining img {
    margin-bottom: 4px;
}

#main-content .content .retraining .category-tittle {
    margin-bottom: 16px;
}

#main-content .content .retraining .btn {
    position: static;
    margin: 18px;
}

#main-content .content table {
    width: 100%;
    border-collapse: collapse;
}

#main-content .content table caption {
    margin-bottom: 8px;
    font-size: 1.1em;
}

#main-content .content table th,
#main-content .content table td {
    padding: 6px;
    border: 1px solid rgba(112, 112, 112, 1);
}

#main-content .content table th {
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    background: #F5F5F5;
}

#main-content .content .vertical-heading-table th {
    text-align: left;
}

#main-content .content .valign-top td {
    vertical-align: top;
}

#main-content .content table p {
    margin: 6px 0;
}

#main-content .content table p:first-child {
    margin-top: 0;
}

#main-content .content #price-table td {
    text-align: center;
}

#main-content .content #price-table td[rowspan="2"]:nth-child(2) {
    text-align: left;
}

#main-content .content .column-list {
    list-style: none;
    column-count: 3;
}

#main-content .content a:not(.btn) {
    background-color: transparent;
    color: inherit;
    text-decoration: none;
}

#main-content .content a:not(.btn):hover {
    text-decoration: underline;
}

#safe-driving-courses #main-content .content {
    font-size: 16px;
}

#safe-driving-courses #main-content .content .no-experience {
    background: linear-gradient( #B2B2B2, #656565, #595959);
    border-radius: 15px;
    padding: 17px 21px;
    color: #FFFFFF;
}

#safe-driving-courses #main-content .content .no-experience ul {
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 480px;
}

#safe-driving-courses #main-content .content .no-experience ul li {
    padding: 5px 0;
    border-bottom: 1px solid #FFFFFF;
}

#safe-driving-courses #main-content .content .no-experience ul li:last-child {
    border: none;
}

#safe-driving-courses #main-content .content .no-experience img {
    border-radius: 15px;
    float: right;
}

#safe-driving-courses #main-content .content .free-drive {
    margin-top: 60px;
    border-radius: 15px 15px 0 0;
    position: relative;
}

#safe-driving-courses #main-content .content .attention {
    position: relative;
    overflow: hidden;
    padding: 9px 15px;
    color: #FFFFFF;
    background: linear-gradient( #D40000, #FF8080);
    text-align: center;
    font-size: 20px;
    border-radius: 15px;
    display: inline-block;
    line-height: 27px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    margin: 0;
}

#safe-driving-courses #main-content .content .attention:after {
    animation: attention-shine 7s infinite;
    content: "";
    position: absolute;
    left: -210%;
    width: 220%;
    height: 60%;
    transform: rotate(45deg);
    
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
      to right, 
      rgba(255, 255, 255, 0.13) 0%,
      rgba(255, 255, 255, 0.13) 77%,
      rgba(255, 255, 255, 0.05) 92%,
      rgba(255, 255, 255, 0.0) 100%
    );
}
  
@keyframes attention-shine {
    0% {
        left: -210%;
        transition-property: left;
    }

    70% {
        left: -210%;
        transition-property: left;
    }

    100% {
        left: 100%;
        transition-property: left;
    }
}

#safe-driving-courses #main-content .content .free-drive .attention {
    margin: 0;
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%)
}

#safe-driving-courses #main-content .content .free-drive img {
    display: block;
    max-width: 100%;
}

#safe-driving-courses #main-content .content .course-composition {
    border-radius: 0 0 15px 15px;
    background: url(../img/safe-driving-courses/lets-start.jpg) center no-repeat;
    background-size: cover;
    position: relative;
    padding: 32px 18px 22px;
}

#safe-driving-courses #main-content .content .course-composition h2 {
    padding: 4px 8px;
    color: #505050;
    font-size: 22px;
    transform: none;
    background: #FFFFFF;
    border: 1px solid #707070;
    position: absolute;
    margin: 0;
    top: -24px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    line-height: 27px;
}

#safe-driving-courses #main-content .content .course-composition h2::after {
    content: "Чему не научат в автошколах";
    position: absolute;
    padding: 1px 4px;
    border-radius: 0 0 5px 5px;
    background: #DA2D2D;
    color: #FFFFFF;
    font-size: 14px;
    text-transform: lowercase;
    font-weight: normal;
    line-height: normal;
    right: 0;
    top: 100%;
}

#safe-driving-courses #main-content .content .course-composition h2 span {
    position: static;
    display: inline;
    transform: none;
}

#safe-driving-courses #main-content .content .course-composition h2 span::before,
#safe-driving-courses #main-content .content .course-composition h2 span::after {
    display: none;
}

#safe-driving-courses #main-content .content .course-composition h2 span span {
    text-transform: none;
}

#safe-driving-courses #main-content .content .course-composition p {
    background: #FFFFFF;
    padding: 5px 12px;
    display: inline-block;
    border-radius: 5px;
    margin: 6px;
}

#safe-driving-courses #main-content .content .course-composition ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#safe-driving-courses #main-content .content .course-composition ul li {
    padding: 15px;
    padding-left: 53px;
    margin: 6px;
    background: url(../img/safe-driving-courses/check-mark.png) center left 10px no-repeat, rgba(255, 255, 255, 0.85);
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    float: left;
    clear: both;
}

#safe-driving-courses #main-content .content .lead-instructor {
    max-width: 720px;
    margin: 22px auto;
    border: 1px solid #707070;
}

#safe-driving-courses #main-content .content .lead-instructor p,
#safe-driving-courses #main-content .content .lead-instructor ul {
    margin-left: 24px;
    margin-right: 24px;
}

#safe-driving-courses #main-content .content .lead-instructor p:first-child {
    padding: 10px 20px;
    background: #EFEFEF;
    border: 1px solid #C7C7C7;
    max-width: 500px;
    text-align: center;
    margin: 16px auto;
}

#safe-driving-courses #main-content .content .lead-instructor p:first-child span {
    text-transform: uppercase;
    font-weight: bold;
}

#safe-driving-courses #main-content .content .h-centered {
    text-align: center;
}

#main-content .content .attention-block {
    border: 4px double #c60808;
    background: url(../img/attention-sign-background.png) center right 12px no-repeat;
    padding: 8px;
    padding-left: 22px;
    padding-right: 88px;
}

/*========END MAIN CONTENT========*/

/*========MAIN FOOTER========*/

#main-footer {
    height: 227px;
    border-top: 1px solid #FD6D6D;
    position: relative;
    background: url(../img/footer-corner-left.svg) top left no-repeat, url(../img/footer-corner-right.svg) bottom 32px right no-repeat, url(../img/logo-footer.svg) top 33px right 30px no-repeat;
}

#main-footer .footer-contacts {
    margin-top: 52px;
    margin-left: 130px;
    color: #858585;
}

#main-footer .footer-contacts address {
    display: inline-block;
    font-style: normal;
    line-height: 19px;
    font-size: 14px;
}

#main-footer .footer-contacts address:last-child {
    padding-left: 55px;
    border-left: 1px solid #D9D9D9;
    margin-left: 55px;
}

#main-footer .footer-contacts address p {
    margin: 0;
}

#main-footer .footer-contacts address p a {
    color: inherit;
    text-decoration: none;
}

#main-footer .footer-bottom-line {
    width: 100%;
    height: 32px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(#c91e1e, #FF7070);
    padding: 6px 17px;
    box-sizing: border-box;
}

#main-footer .footer-bottom-line p {
    color: #FFFFFF;
    font-size: 14px;
    margin: 0;
    line-height: 22px;
}

/*========END MAIN FOOTER========*/

/*========SCROLL TO TOP========*/

.scrollToTop {
    background: #c83d3d;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    opacity: 0.3;
    border-radius: 50px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    color: #fff;
}

.scrollToTop:hover {
    opacity: 1;
}

/*========END SCROLL TO TOP========*/